.section {
    padding-top: 46px;
}

.filter {
    color: var(--color-primary);
}

.filter span {
    color: var(--color-button);
}

.filter_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.arrow_icon {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    background: inherit;
    cursor: pointer;
}

.filter_popup {
    position: absolute;
    flex-direction: column;
    color: var(--color-primary);
    z-index: 5;
    margin-top: 5px;
    border: 2px solid var(--color-primary);
}

.filter_btn {
    width: 100%;
    padding: 5px;
    background-color: var(--color-white);
    z-index: 2;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
}

.filter_btn:hover {
    color: var(--color-button);
}

.button {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 17px;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid var(--color-primary);
    background: var(--color-white);
    transition: 0.3s;
}

.button:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.try_text {
    text-align: center;
    margin-top: 25px;
    font-size: 22px;
    color: var(--color-dark);
    font-weight: 500;
}

.button_delete {
    text-align: center;
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: inherit;
    color: var(--color-delete);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.results {
    text-align: center;
    color: var(--color-primary);
}

.paggination_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.paggination_button {
    background: inherit;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}