.section {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.heading {
    font-size: 26px;
    color: var(--color-white);
}
.user {
    color: var(--color-white);
}

@media (max-width: 576px) {
    .heading {
        font-size: 20px;
    }
}